%html
  %head
    %title= 'Me310-CFP2'
  %body
    %h1= link_to "Home", root_url
    %h2= link_to "Add a video", new_video_url
    <hr />
    = yield
    
    <hr />
    - if current_user
      = link_to "Logout", user_session_url, :method => :delete
      
    <hr />
    - if request.format.projector?
      = button_to "Normal version", formats_url(:id => :normal)
    - else
      = button_to "Projector version", formats_url(:id => :projector)